:root {
    --right-beam-angle: -40deg;
    --left-beam-angle: 40deg;
    --beam-offset: -5rem;
    --beam-thickness: 26rem;
    --beam-width: 155vw;
    --beam-block-height: calc(100vw * .84); /* calculated with some trig so that fun screen sizes shouldn't mess it up */
}

html {
    background-color: #000; 
    color: #FFF;
    padding: 2rem;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}

body {
    overflow-x: hidden
}

div.header {
    text-align: center;
}

div.component {
    margin-bottom: 6rem;
}

div.block {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.bias-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin-bottom: 6rem;
}

.bias-down {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 6rem;
}

section {
    width: 50%;
    padding: 0 2rem;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    font-family: "Inter", sans-serif;
    letter-spacing: -2%;
    line-height: 110%;
}

.serif, span.serif {
    color: #FFF;
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.semi-bold {
    font-size: 0.875rem;
    font-weight: 400;
}

.xs {
    font-size: 0.875rem;
}

.medium {
    font-size: 1.25rem;
    font-weight: 300;
}

.centered {
    text-align: center;
}

p { 
    font-size: 1rem;
    font-weight: 300;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    margin: 3rem 0 1rem 0;
}

h2 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0;
}

h4 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

h5 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

/* Navbar links container */
.navbar-links {
    list-style: none; /* Remove bullet points */
    display: flex; /* Display links horizontally */
}

/* Individual navbar links */
.navbar-links li {
    margin-left: 2rem; /* Spacing between links */
}

.navbar-links a {
    text-decoration: none;
    color: #FFF;
}

.third {
    width: 33%;
    padding: 1rem;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

.half {
    width: 50%;
    padding: 1rem;
}

.arch {
    background-image: url('images/arch.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    aspect-ratio: 628 / 889;
}

.content {
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.half .content {
    padding: 5rem;
}

.light-beam-background {
    overflow-x: hidden;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.beams-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    width: 100vw;
}

.beam-block {
   position: relative;
   min-height: var(--beam-block-height);
   width: 100vw;
   margin-bottom: 15rem;
}

.beam-block.first {
    margin-bottom: 0;
}

.beam {
    opacity: 0;
    height: var(--beam-thickness);
    width: var(--beam-width);
    position: absolute;
    z-index: 2;
}

.beam.right {
    transform-origin: top right;
    transform: rotate(var(--right-beam-angle));
    right: var(--beam-offset);
}

.beam.right.first, .beam.left.first {
    margin-top: -15rem;
}

.beam.left {
    transform-origin: top left;
    transform: rotate(var(--left-beam-angle));
    left: var(--beam-offset);
}

/* TODO: add in the correct color gradients and adjust them depending on which side 
of the screen the beam is on! */

.beam.left.blue {
    background: linear-gradient(246deg, rgba(31, 9, 190, 0.00) 25.89%, #10BBED 117.84%);
}

.beam.right.orange {
    background: linear-gradient(243deg, #FFD600 3.56%, rgba(240, 0, 27, 0.00) 77.09%);
}

.beam.right.purple {
    background: linear-gradient(248deg, #8200AF 20.12%, rgba(129, 49, 191, 0.00) 78.19%);
}

.beam.left.pink {
    background: linear-gradient(58deg, #AF0088 17.94%, rgba(240, 85, 36, 0.00) 79.27%);
}

.beam.start-animation {
    opacity: 1;
    animation: fillIn 1s ease-in-out forwards;
}

@keyframes fillIn {
    from {
        width: 0;
    }
    to {
        width: var(--beam-width);
    }
}
